/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 20px;
    padding-top: 136px;
    padding-bottom: 20px;
    background-image: url('/app/resources/background.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-color: #343a40 !important;
    height: 90vh;
}

ul li a {
    text-align: center;
}

ul li a i {
    font-size: 32px;
}

.opacity {
    opacity: 0.9;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 20px;
    line-height: 20px; /* Vertically center the text there */
    background-color: #212529;
    font-size: 14px;
}

.text-devider {
    margin-left: 2px;
    margin-right: 2px;
}

.progress {
    position: relative;
    background-color: #6c757d;
}

.progress-bar {
    background-color: #000000;
}

.progress-bar-title {
    position: absolute;
    text-align: center;
    overflow: hidden;
    color: #fff;
    right: 0;
    left: 0;
}

.logo {
    background: none;
    -webkit-filter: brightness(0) invert(1) contrast(0.05);
    filter: brightness(0) invert(1) contrast(0.05);
}

.logo:hover {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
}

.dropzone {
    background-color: #464e55 !important;
    padding: 1rem;
    margin: 1rem;
}

.draggable {
    padding: 1rem;
    background-color: white;
    border: 1px solid black;
    cursor: move;
}

.draggable.dragging {
    opacity: .5;
}

.user_card {
    height: 60vh;
    width: 45vh;
    margin-top: 70px;
    margin-bottom: auto;
    background: #7a8a91;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
}

.brand_logo_container {
    position: absolute;
    height: 170px;
    width: 170px;
    top: -75px;
    border-radius: 50%;
    background: #464e55 !important;
    padding: 10px;
    text-align: center;
    vertical-align: center;
}

.brand_logo {
    height: 81px;
    width: 144px;
    border-radius: 50%;
    margin-top: 30px;
    border: 2px solid white;
}

.form_container {
    margin-top: 100px;
}

.login_btn {
    width: 100%;
    background: #464e55 !important;
    color: white !important;
}

.login_btn:focus {
    box-shadow: none !important;
    outline: 0 !important;
}

.login_container {
    padding: 0 2rem;
}

.ignore-file-label::after {
    content: none;
}

.ignore-file-label {
    border: 2px solid #ced4da;
}

.input-group-text {
    background: #464e55 !important;
    color: white !important;
    border: 0 !important;
    border-radius: 0.25rem 0 0 0.25rem !important;
}

.input_user,
.input_pass,
.input_team,
.input_email:focus {
    box-shadow: none !important;
    outline: 0 !important;
    width: 200px !important;
}

.input-group-prepend.coachingInput {
    width: 45%; /*adjust as needed*/
}

.input-group-prepend.coachingInput label {
    width: 100%;
    overflow: hidden;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #464e55 !important;
}

.small_back_Btn {
    background: #464e55 !important;
    color: white !important;
}

.icon_in_input {
    position: relative;
    cursor: pointer;
}

.card-columns {
    column-count: 4;
}

.text-nav-color,
a.text-nav-color:hover {
    color: #ffffff !important;
}

a.text-nav-hover-color.active:hover,
a.text-nav-hover-color.active {
    color: #495057 !important;
}


/*
Card-Columns
*/
@media (min-width: 0px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1000px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 4;
    }
}

/*
Tooltips
 */
.tooltip-content {
    display: none;
}

.tooltipster-sidetip.tooltipster-light.tooltipster-light-customized .tooltipster-box {
    background: #464e55;
    border: 2px solid white;
    border-radius: 6px;
    box-shadow: 5px 5px 2px 0 rgba(0, 0, 0, 0.4);
}

.tooltipster-sidetip.tooltipster-light.tooltipster-light-customized .tooltipster-content {
    color: white;
    padding: 8px;
    text-align: center;
}